<section class="bg-zinc-900 p-20 rounde-xl my-4 text-center">
  <h2 class="text-5xl font-bold my-5">About Us</h2>
  <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, commodi! Provident, eaque quo ratione magni accusamus modi dignissimos maxime at, repellendus tempore alias similique consequatur laboriosam cupiditate odit odio! Dolore eaque aut non tempora ea, inventore ut incidunt, tenetur rerum fugit suscipit unde sequi tempore aperiam totam pariatur consequatur temporibus!</p>
</section>
